
<div  class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Public profile</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a [routerLink]="['/dashboard/profile']" class="btn btn-secondary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Services</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a [routerLink]="['/dashboard/services']" class="btn btn-secondary">View</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Change password</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a [routerLink]="['/dashboard/password']" class="btn btn-secondary">Change</a>
      </div>
    </div>
  </div>
</div>
