<div class="card">
  <div class="card-block">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a class="link" [routerLink]="['/dashboard']" role="button">Dashboard</a>
      </li>
      <li class="list-group-item">
        <a class="link" [routerLink]="['/dashboard/profile']" role="button">Public profile</a>
      </li>
      <li class="list-group-item">
        <a class="link" [routerLink]="['/dashboard/services']" role="button">Services</a>
      </li>
      <li class="list-group-item">
        <a class="link" [routerLink]="['/dashboard/password']" role="button">Change Password</a>
      </li>
    </ul>
  </div>
</div>



