<form #myForm="ngForm">
  <div class="form-group">
    <label for="inputName">Name</label>
    <input type="text" class="form-control" id="inputName" value="" placeholder="Your name" name="objectTo.name" [(ngModel)]="objectTo.name"
      required #name="ngModel">
  </div>
  <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
    <div *ngIf="name.errors && name.errors.required">
      Name is required
    </div>
  </div>

  <div class="form-group">
    <label for="inputDescription">Description</label>

    <textarea class="form-control" id="inputDescription" name="objectTo.description" [(ngModel)]="objectTo.description" required #description="ngModel" value="">Description</textarea>
     {{400 - objectTo.description.length}}
  </div>
  <div [hidden]="description.valid || description.untouched" class="alert alert-danger">
    <div *ngIf="description.errors && description.errors.required">
      Description is required
    </div>
  </div>

  <div class="form-group">
    <label for="inputTags">Tags, hit enter to add tags (max 3).</label>
    <tag-input [(ngModel)]='objectTo.tags' name="objectTo.tags" [maxItems]="3" required #tags="ngModel"></tag-input>
  </div>

  <div [hidden]="tags.valid || tags.untouched" class="alert alert-danger">
    <div *ngIf="tags.errors && tags.errors.required">
      Tags is required
    </div>
  </div>
  <label *ngIf="objectTo.bigImage">Current image </label>
  <div *ngIf="objectTo.bigImage" class="crop-img-card transition">
    <img *ngIf="objectTo.bigImage" class="img-responsive" src="{{ objectTo.bigImage }}" />
  </div>
  <div class="form-group">
    <label for="inputBigImage">Image </label>
   <input type="file" ng2FileSelect [uploader]="uploaderUpdate" class="form-control" id="serviceImage" value="" name="serviceImage"
      required>
      
  </div>
  



  <div *ngIf="error" class="alert alert-danger" role="alert">{{ error.statusText }}</div>
  <button type="button" class="btn btn-danger pointer" (click)="close()">Cancel</button>
  <button *ngIf="this.objectTo.apiAction === 'UPDATESECTION' || this.objectTo.apiAction === 'UPDATESERVICE'" type="submit" [disabled]="!myForm.form.valid" (click)="confirm()" class="btn btn-secondary pointer">
    Update
  </button>
  <button *ngIf="this.objectTo.apiAction === 'NEWSECTION' || this.objectTo.apiAction === 'NEWSERVICE'" type="submit"
    [disabled]="!myForm.form.valid" (click)="confirm()" class="btn btn-secondary pointer">
    Add new
  </button>

  <div class="gap-20"></div>
  <div [hidden]="!feedback" class="alert alert-danger">
      {{ feedback }}
  </div>

</form>