<nav>
  <div class="gap-10"></div>
  <ul class="">
    <li class="">
      <a class="" [routerLink]="['/']">Home </a>
    </li>
    <li class="">
      <a class="" [routerLink]="['/s/:query']">Search</a>
    </li>
    <li class="">
      <a class="" *ngIf="this.session.isAuth" [routerLink]="['/dashboard']">Dashboard</a>
    </li>
    <li class="">
      <a class="" *ngIf="!this.session.isAuth" [routerLink]="['/signup']">Signup</a>
    </li>
    <li class="">
      <a class="" *ngIf="!this.session.isAuth" [routerLink]="['/login']">Login</a>
    </li>
    <li class="">
      <a class="" *ngIf="this.session.isAuth" [routerLink]="['/logout']">Logout</a>
    </li>
  </ul>
  <div class="gap-5"></div>
</nav>
