<nav>
  <div class="gap-10"></div>
  <ul class="">
    <li class="">
      <a class="" [routerLink]="['/']">Home </a>
    </li>
    <li class="">
      <a class="" [routerLink]="['/search-list']">Search</a>
    </li>
    <li class="">
      <a class="" [routerLink]="['/dashboard']">Dashboard</a>
    </li>
    <li class="">
      <a class="" [routerLink]="['/signup']">Signup</a>
    </li>
    <li class="">
      <a class="" [routerLink]="['/login']">Login</a>
    </li>
    <li class="">
      <a class="" [routerLink]="['/logout']">Logout</a>
    </li>
  </ul>
  <div class="gap-5"></div>
</nav>
