<h1>Services</h1>
<p>Malesuada nec gravida lobortis, congue id tellus. Proin placerat tortor dapibus nisl faucibus hendrerit. Ut luctus, dolor
et vehicula mattis, augue sem fringilla nisi, a vestibulum nisi odio ac nulla. Integer vitae aliquam nunc. Suspendisse potenti.
Aliquam nec feugiat nunc. Pellentesque vitae arcu mi. Cras elementum lorem sit amet risus condimentum, sit amet aliquam elit
viverra. Cras quis rhoncus nulla.</p>
<hr>
<app-call-modal [objectTo]="newService" [actionToDo]="createService" (onSave)="serviceList(userId)"></app-call-modal>
<hr>
<div *ngIf="servicesList">
  <div class="card" *ngFor="let service of servicesList">
    <div class="crop-img-card transition">
      <a [routerLink]="['/dashboard/service/', service._id]"><img class="card-img-top" [src]="service.bigImage" alt="{{service.name}}"></a>
    </div>
    <div class="card-block">
      <h4 class="card-title">{{service.name}}</h4>
      
      <span class="badge badge-pill badge-info" *ngFor="let tag of service.tags">
        <a [routerLink]="['/s/', tag]">{{tag}}</a>
      </span>
      <p class="card-text">{{service.description}}</p>
      <p>
        <a class="btn btn-danger pointer" (click)="removeService(service._id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
        <app-call-modal [objectTo]="service" [actionToDo]="updateService" (onSave)="serviceList(service.user)"></app-call-modal>
        <a class="btn btn-secondary" [routerLink]="['/dashboard/service/', service._id]"><i class="fa fa-eye" aria-hidden="true"></i></a>
        <a class="btn btn-secondary" [routerLink]="['/', service.url]">
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </p>
    </div>
  </div>
</div>


