<section>
  <div class="container">
    <div class="gap-50"></div>
    <div class="row">
      <h1>Search by</h1>
      <div class="input-group">
        <input type="text" name="search" [(ngModel)]="search" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-secondary pointer" type="button" (click)="newSearch()">Search</button>
        </span>
      </div>
      
    </div>
  </div>
</section>



<section *ngIf="serviceList.length > 0">
  <div class="container">
    <div class="gap-50"></div>
    <div class="row">
      <div class="col-sm-12">
        <h1>{{ search }} services</h1>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let service of serviceList">
        <app-search-item [item]="service"></app-search-item>
      </div>
    </div>

    <a class="btn btn-secondary pointer" (click)="loadSearchServiceFunction()">Load more</a>


    <div class="gap-50"></div>
  </div>
</section>

<section *ngIf="userList.length > 0">
  <div class="container">
    <div class="gap-50"></div>
    <div class="row">
      <div class="col-sm-12">
        <h1>{{ search }} freelances</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let user of userList">
        <app-search-item [item]="user"></app-search-item>
      </div>
    </div>
    <a class="btn btn-secondary pointer" (click)="loadMoreSearchUserFunction()">Load more</a>
    <div class="gap-50"></div>
  </div>
</section>

<div class="gap-50"></div>
<div class="gap-50"></div>
<div class="gap-50"></div>