<section>
  <div class="container">
    <div class="gap-50"></div>
    <div class="row">
      <div class="col-sm-12">
        <h1>Resultados para servicios</h1>
        <a class="btn btn-secondary">Load more</a>
      </div>
    </div>
    <div class="gap-50"></div>
  </div>
</section>
<section>
  <div class="container">
    <div class="gap-50"></div>
    <div class="row">
      <div class="col-sm-12">
        <h1>Resultados para sections</h1>
        <a class="btn btn-secondary">Load more</a>
      </div>
    </div>
    <div class="gap-50"></div>
  </div>
</section>
<section>
  <div class="container">
    <div class="gap-50"></div>
    <div class="row">
      <div class="col-sm-12">
        <h1>Resultados para freelance</h1>
        <a class="btn btn-secondary">Load more</a>
      </div>
    </div>
    <div class="gap-50"></div>
  </div>
</section>