<p>
  public-profile works!
</p>

<div class="container">
  <div class="jumbotron">
    <div class="row">

      <div class="col-sm">
        <p>
          <img src="{{ user.userImage }}" class="img-responsive" alt="User Image">
        </p>
        <a href="{{user.linkedin}}" class="btn btn-info linkedinBtn" style="border-radius: 0px;" target="_blank">
          <i class="fa fa-linkedin" aria-hidden="true"></i>Linkedin </a>
        <a href="{{user.facebook}}" class="btn btn-primary fbkBtn" style="border-radius: 0px;" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>Facebook </a>
        <a href="{{user.google}}" class="btn btn-danger GoogleBtn" style="border-radius: 0px;" target="_blank">
          <i class="fa fa-google-plus" aria-hidden="true"></i>Google </a>
      </div>
      <p>{{user.web}}</p>
      <div class="col-sm">
        <span>{{user.name}} {{user.surname}}</span>
        <p>PRINCIPAL SERVICE</p>
        <span>{{user.city}} {{user.country}}</span>
        <div *ngFor="let tag of user.tags">
          {{ tag.value }}
        </div>
        <p>{{user.klaim}}</p>
        <a><button class="btn btn-success">Contact</button></a>
        </div>
    </div>
  </div>
  <div class="jumbotron" *ngFor="let service of services">
    <div class="row">
      <div class="col-sm">
          <div>
             <p>{{ service.name }}</p> 
             <p>{{ service.description }}</p> 
             <p>{{ service.tags }}</p> 
             <img src="{{ service.bigImage }}" class="img-responsive" alt="Service bigImage">
            </div>
        
      <div class="col-sm">
        
        <a><button class="btn btn-success">Contact</button></a>

      </div>
    </div>
  </div>
</div>


