<p>
  public-profile works!
</p>

<div class="container">
  <div class="jumbotron">
    <div class="row">

      <div class="col-sm">
        <p> {{ user.userImage }} </p>
        <p>{{user.linkedin}}</p>
        <p>{{user.google}}</p>
        <p>{{user.facebook}}</p>
      </div>
      <div class="col-sm">
        <span>{{user.name}} {{user.surname}}</span>
        <p>PRINCIPAL SERVICE</p>
        <span>{{user.city}} {{user.country}} {{user.tags}}</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, non veritatis, provident placeat quia impedit sunt
            eum ea nobis inventore cumque qui dolorum, ullam saepe nulla natus, modi libero quos.</p>
        <a><button class="btn btn-success">Contact</button></a>

      </div>


    </div>
  </div>
</div>