<section *ngIf="user.url" class="bigImageContent">
  <div class="bigImage" [ngStyle]="{'background-image': 'url('+ user.bigImage + ')'}">
  </div>
  <div class="container">
    <div class="gap-50"></div>
    <div class="row">
        <div class="col-sm-3">
            <img [src]="user.userImage" class="rounded-circle userImage" alt="User Image">
        </div>
        <div class="col-sm-9">
          <h1>{{user.name}} {{user.surname}}</h1>
          <p>{{user.city}} {{user.country}}</p>
          <div class="badge badge-pill badge-info" *ngFor="let tag of user.tags">
            {{ tag.value }}
          </div>
          <p class="lead">{{user.klaim}}</p>
          <a *ngIf="user.linkedin" href="{{user.linkedin}}" class="btn btn-info" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a *ngIf="user.facebook" href="{{user.facebook}}" class="btn btn-info" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a *ngIf="user.google" href="{{user.google}}" class="btn btn-info" target="_blank">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
          </a>
          <a *ngIf="user.web" href="{{user.web}}" class="btn btn-info" target="_blank">
            <i class="fa fa-link" aria-hidden="true"></i>
          </a>
        </div>           
    </div>
    <div class="gap-50"></div>
  </div>
</section>
<section class="form-section">
  <div class="container">
    <div class="gap-50"></div>
    <div class="row">
      <div class="col-md-7">
        <h2 class="med">Contact with
          <span>{{user.name}} {{user.surname}}</span>
         {{ firstService.name}}
        </h2>
        <p>{{ firstService.description }}</p>
        
        <button class="btn btn-secondary pointer" [routerLink]="['/', firstService.url]" role="button">View</button>

      </div>
      <div class="col-md-5">
        <div class="form-box">
          <form (ngSubmit)="send(myForm)" #myForm="ngForm">
            <h3>Contact Form</h3>
            <div class="form-group">
              <label for="name">Name</label>
              <input class="form-control form-deco" type="text" placeholder="Your name ... " name="name" [(ngModel)]="contact.name" />
            </div>
            <div class="form-group">
              <label for="name">Email</label>
              <input class="form-control form-deco" type="text" placeholder="Your email ... " name="email" [(ngModel)]="contact.email" />
            </div>
            <div class="form-group">
              <label for="name">Phone</label>
              <input class="form-control form-deco" type="text" placeholder="Your phone ... " name="tel" [(ngModel)]="contact.tel" />
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea class="form-control form-deco" name="message" [(ngModel)]="contact.message"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-info btn-lg pointer" type="submit">CONTACT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="gap-50"></div>
  </div>
</section>

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        
        <div class="gap-30"></div>
        <h4>do you know my other services?</h4>
        <div class="gap-20"></div>
        <img src="./assets/images/arrow.png">
        <div class="gap-30"></div>
      </div>
    </div>
    
  </div>
</section>
<section>
  <div class="container">
    <div class="gap-50"></div>
    <div class="row">
      <div class="col-sm-4 text-center" *ngFor="let service of services | slice:1">
          <h3>{{ service.name }}</h3>
          <span class="badge badge-pill badge-info"> {{ service.tags }}</span>
          <p>{{ service.description }}</p>
          <!-- <img [src]="url + service.bigImage" class="service-bigImage img-responsive" alt="Service bigImage"> -->
          <button class="btn btn-secondary pointer" [routerLink]="['/', service.url]" role="button">View</button>
      </div>
      <div class="col-sm-4 text-center" *ngFor="let section of sections">
        <!-- <img class="card-img-top" [src]="url + section.bigImage" alt="Card image cap"> -->
        {{section}}
        <h3 class="card-title">{{section.name}}</h3>
        <span class="badge badge-pill badge-info">{{tags}}</span>
        <!-- <p>{{section.user}}</p>
        <p>{{section.service }}</p> -->
        <p>{{section.description}}</p>
        <button class="btn btn-secondary pointer" [routerLink]="['section.url']" role="button">View</button>
      </div>
    </div>   
    <div class="gap-50"></div>
  </div>
</section>


<div class="gap-50"></div>
<div class="gap-50"></div>