<p>
  home works!
</p>

<p class="text-center"><a class="btn btn-success btn-sm" [routerLink]="['/login']" role="button">Login</a></p>
<p class="text-center"><a class="btn btn-primary btn-sm" [routerLink]="['/signup']" role="button">Signup</a></p>
<p class="text-center"><a class="btn btn-success btn-sm" [routerLink]="['/logout']" role="button">Logout</a></p>
<p class="text-center"><a class="btn btn-primary btn-sm" [routerLink]="['/dashboard']" role="button">Dashboard</a></p>
<p class="text-center"><a class="btn btn-success btn-sm" [routerLink]="['/public-profile']" role="button">Public Profile</a></p>
<p class="text-center"><a class="btn btn-primary btn-sm" [routerLink]="['/public-services']" role="button">Public Services</a></p>
<p class="text-center"><a class="btn btn-success btn-sm" [routerLink]="['/public-sections']" role="button">Public Sections</a></p>
<p class="text-center"><a class="btn btn-primary btn-sm" [routerLink]="['/search-list']" role="button">Search List</a></p>
<p class="text-center"><a class="btn btn-success btn-sm" [routerLink]="['/profile']" role="button">Profile</a></p>
<p class="text-center"><a class="btn btn-primary btn-sm" [routerLink]="['/services']" role="button">Services</a></p>
<p class="text-center"><a class="btn btn-success btn-sm" [routerLink]="['/sections']" role="button">Sections</a></p>

