.bk-home {
    background-position: center;
    background-size: cover;
    background-color: rgba(2,41,56, 1);
    min-height: 60vh;
}
ul li {
    list-style-type: none;
}
ul li {
    margin: 10px;
}
.search-query-link {
    text-transform: uppercase;
    color: #000000;
    padding: 10px;
}