.bk-home {
    background-position: center;
    background-size: cover;
    background-color: rgba(2,41,56, 1);
    min-height: 60vh;
}
ul li {
    list-style-type: none;
}
ul li {
    margin: 10px;
}
.search-query-link {
    text-transform: uppercase;
    color: #000000;
    padding: 10px;
}

.btn-light {
    height: 40px;
    color: #022938;
    border-radius: 10;
    text-transform: uppercase;
    font-size: 1rem
}

.main-search-bar {
    border-radius: 10px 0px 0px 10px
}

.home-section {
    background-image: url('../../../assets/images/dark-main-background.jpg')
}