<section class="bk-home home-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="gap-50"></div>
        <a title="contacT-Freelance" href="/"><img src="./assets/images/contact-freelance-logo.png"/></a>
        <div class="gap-50"></div>
        <div class="input-group">
            <input type="text" name="search" [(ngModel)]="search" class="form-control main-search-bar" placeholder="Find your freelance...">
            <span class="input-group-btn">
              <button class="btn btn-light pointer" type="button" [routerLink]="['/s/', search]">Go!</button>
            </span>
          </div>
      </div>
    </div>
    <div class="gap-50"></div>
    
    <div class="row">
      <div class="col-sm-6">
        <p class="lead c-w">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc sapien.
        </p>
        <h1 class="c-w">Contact Freelance</h1>
       
        <div class="gap-20"></div>
        <p class="lead c-w">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc sapien.
        </p>
        <p class="c-w">Malesuada nec gravida lobortis, congue id tellus. Proin placerat tortor dapibus nisl faucibus hendrerit. Ut luctus, dolor
          et vehicula mattis, augue sem fringilla nisi, a vestibulum nisi odio ac nulla. Integer vitae aliquam nunc. Suspendisse
          potenti. Aliquam nec feugiat nunc. Pellentesque vitae arcu mi. Cras elementum lorem sit amet risus condimentum, sit amet
          aliquam elit viverra. Cras quis rhoncus nulla.</p>
      </div>
      <div class="col-sm-6">
        <p class="lead c-w">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc sapien.
        </p>
        <h2 class="c-w">Freelance Signup</h2>
        <p class="lead c-w">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc sapien.
        </p>
        <p class="c-w">Malesuada nec gravida lobortis, congue id tellus. Proin placerat tortor dapibus nisl faucibus hendrerit. Ut luctus, dolor
        et vehicula mattis, augue sem fringilla nisi, a vestibulum nisi odio ac nulla. Integer vitae aliquam nunc. Suspendisse potenti.
        Aliquam nec feugiat nunc. Pellentesque vitae arcu mi. Cras elementum lorem sit amet risus condimentum, sit amet aliquam elit
        viverra. Cras quis rhoncus nulla.</p>
        <a class="btn btn-primary" [routerLink]="['/signup']">Freelance Signup <i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="gap-50"></div>
  </div>
</section>
<section>
  <div class="container">
    <div class="gap-50"></div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3 class="big">leads
          <span>factory</span>
        </h3>
        <div class="gap-50"></div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="gap-50"></div>
        <div class="gap-50"></div>
        
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc sapien.
        </p>
        <p class="">Malesuada nec gravida lobortis, congue id tellus. Proin placerat tortor dapibus nisl faucibus hendrerit. Ut luctus, dolor
          et vehicula mattis, augue sem fringilla nisi, a vestibulum nisi odio ac nulla. Integer vitae aliquam nunc. Suspendisse
          potenti. Aliquam nec feugiat nunc. Pellentesque vitae arcu mi. Cras elementum lorem sit amet risus condimentum, sit amet
          aliquam elit viverra. Cras quis rhoncus nulla.</p>
      </div>
    </div>
    <div class="gap-50"></div>
    <div class="row">
      <div class="col-sm-12 text-center">
        
        <img src="./assets/images/arrow.png"/>
        <div class="gap-50"></div>
        <h3 class="">Popular areas</h3>
        <div class="gap-50"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <ul>
          <li>
            <a class="search-query-link" [routerLink]="['/s', 'javascript']">Javascript</a>
          </li>
          <li>
            <a class="search-query-link" [routerLink]="['/s', 'javascript']">Javascript</a>
          </li>
          <li>
            <a class="search-query-link" [routerLink]="['/s', 'javascript']">Javascript</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul>
          <li>
            <a class="search-query-link" [routerLink]="['/s', 'javascript']">Javascript</a>
          </li>
          <li>
            <a class="search-query-link" [routerLink]="['/s', 'javascript']">Javascript</a>
          </li>
          <li>
            <a class="search-query-link" [routerLink]="['/s', 'javascript']">Javascript</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul>
          <li>
            <a class="search-query-link" [routerLink]="['/s', 'javascript']">Javascript</a>
          </li>
          <li>
            <a class="search-query-link" [routerLink]="['/s', 'javascript']">Javascript</a>
          </li>
          <li>
            <a class="search-query-link" [routerLink]="['/s', 'javascript']">Javascript</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul>
          <li>
            <a class="search-query-link" [routerLink]="['/s', 'javascript']">Javascript</a>
          </li>
          <li>
            <a class="search-query-link" [routerLink]="['/s', 'javascript']">Javascript</a>
          </li>
          <li>
            <a class="search-query-link" [routerLink]="['/s', 'javascript']">Javascript</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="gap-50"></div>
    <div class="gap-50"></div>
   
  </div>
</section>


