<h3>Change password </h3>

<form (ngSubmit)="submitUpdates(myForm)" #myForm="ngForm">
  <div class="form-group">
        <label for="inputEmail">Change email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email" name="email" [(ngModel)]="user.email"
            #myEmail="ngModel" ng-model="required">
  </div> 
  <div class="form-group">
        <label for="inputPassword">Change password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Choose Password" name="password" [(ngModel)]="user.password"
            #myPassword="ngModel" minlength="6" ng-model="required">
        <div *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
            <p class="error" [hidden]="!myPassword.errors.required" [hidden]="!myPassword.errors.minlength">
                <small>Password must be at least 6 characters long.</small>
            </p>
        </div>
  </div> 
 

  <div *ngIf="error" class="alert alert-danger" role="alert">{{ error.statusText }}</div>

  <button type="submit" [disabled]="!myForm.form.valid" class="btn btn-secondary">Submit</button>
</form>
<div class="gap-50"></div>
<div class="gap-50"></div>