<section *ngIf="user.url" class="bigImageContent">
  <div class="bigImage" [ngStyle]="{'background-image': 'url('+ user.bigImage + ')'}">
  </div>
  <div class="container">
    <div class="gap-50"></div>
    <div class="row">
      <div class="col-sm-3">
        <img [src]="user.userImage" class="rounded-circle userImage" alt="User Image">
      </div>
      <div class="col-sm-9">
        <h1>{{user.name}} {{user.surname}}</h1>
        <p>{{user.city}} {{user.country}}</p>
        <div class="badge badge-pill badge-info" *ngFor="let tag of user.tags">
          <a [routerLink]="['/s/', tag]">{{tag}}</a>
        </div>
        <p class="lead">{{user.klaim}}</p>
        <a *ngIf="user.linkedin" href="{{user.linkedin}}" class="btn btn-info" target="_blank">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a *ngIf="user.facebook" href="{{user.facebook}}" class="btn btn-info" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a *ngIf="user.google" href="{{user.google}}" class="btn btn-info" target="_blank">
          <i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
        <a *ngIf="user.web" href="{{user.web}}" class="btn btn-info" target="_blank">
          <i class="fa fa-link" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="gap-50"></div>
  </div>
</section>
<section class="form-section">
  <div class="container">
    <div class="gap-50"></div>
    <div class="row">
      <div class="col-md-7">
        <h2 class="med">Contact with
          <span class="line">{{user.name}} {{user.surname}}</span>
        </h2>
        <div class="gap-20"></div>
        <h3>
          <span *ngIf="firstService">{{ firstService.name}}</span>
        </h3>
        <div class="gap-10"></div>

        <div class="card">
          <div class="crop-image">
            <img class="service-bigImage img-responsive" *ngIf="this.services[0]" [src]="firstService.image">
          </div>
          <div class="card-body">
            <p *ngIf="this.services[0]">{{ firstService.description }}</p>
            <br>
            <br>
            <button class="btn btn-secondary pointer" [routerLink]="['/', firstService.url]" role="button">View Service</button>
          </div>
        </div>
        
        <p *ngIf="!this.services[0]">{{user.klaim}}</p>
      </div>
      <div class="col-md-5">
        <app-contact-form [contact]="contact"></app-contact-form>
      </div>
    </div>
    <div class="gap-50"></div>
  </div>
</section>

<section *ngIf="this.services[1]">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">

        <div class="gap-30"></div>
        <h4>do you know my other services?</h4>
        <div class="gap-20"></div>
        <img src="./assets/images/arrow.png">
        <div class="gap-30"></div>
      </div>
    </div>

  </div>
</section>
<section *ngIf="services.length >= 2">
  <div class="container">
    <div class="gap-50"></div>
    <div class="row">
      <div class="col-sm-4 text-center" *ngFor="let service of services | slice:1">
        <h3>{{ service.name }}</h3>
        <div class="badge badge-pill badge-info" *ngFor="let tag of service.tags">
          <a [routerLink]="['/s/', tag]">{{tag}}</a>
        </div>

        <p>{{ service.description }}</p>
        <!-- <img [src]="url + service.bigImage" class="service-bigImage img-responsive" alt="Service bigImage"> -->
        <button class="btn btn-secondary pointer" [routerLink]="['/', service.url]" role="button">View</button>
      </div>
      <div class="col-sm-4 text-center" *ngFor="let section of sections">
        <!-- <img class="card-img-top" [src]="url + section.bigImage" alt="Card image cap"> -->
        {{section}}
        <h3 class="card-title">{{section.name}}</h3>

        <div class="badge badge-pill badge-info" *ngFor="let tag of tags">
          <a [routerLink]="['/s/', tag]">{{tag}}</a>
        </div>
        <!-- <p>{{section.user}}</p>
        <p>{{section.service }}</p> -->
        <p>{{section.description}}</p>
        <button class="btn btn-secondary pointer" [routerLink]="['section.url']" role="button">View</button>
      </div>
    </div>
    <div class="gap-50"></div>
  </div>
</section>


<div class="gap-50"></div>
<div class="gap-50"></div>