<div class="row">
  <div class="col-sm-3">
    <div class="jumbotron">
      <h3> Section </h3>
      <span>{{userDetail.city}}</span>
      <span>{{userDetail.country}}</span>

      {{ sectionDetail.name }} {{ sectionDetail.description}}
      <span class="badge badge-primary"> {{ sectionDetail.tags}} </span>
      <div class="col-sm">

        <p>{{userDetail.name}}</p>
        <p>{{userDetail.surname}}</p>
        <a *ngIf="userDetail.linkedin" href="{{userDetail.linkedin}}" class="btn btn-info linkedinBtn" style="border-radius: 0px;"
          target="_blank">
          <i class="fa fa-linkedin" aria-hidden="true"></i>Linkedin </a>
        <a *ngIf="userDetail.facebook" href="{{userDetail.facebook}}" class="btn btn-success fbkBtn" style="border-radius: 0px;"
          target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>Facebook </a>
        <a *ngIf="userDetail.google" href="{{userDetail.google}}" class="btn btn-danger GoogleBtn" style="border-radius: 0px;" target="_blank">
          <i class="fa fa-google-plus" aria-hidden="true"></i>Google </a>

        <a>
          <button class="btn btn-success">Contact</button>
        </a>

      </div>
    </div>
  </div>
</div>
