<form (ngSubmit)="submitLogin()" #myForm="ngForm">
  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email" name="email" [(ngModel)]="user.email">
    <small id="usernameHelp" class="form-text text-muted">Don't troll or you will be banned.</small>
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="username" [(ngModel)]="user.password">
  </div>

  <div *ngIf="error" class="alert alert-danger" role="alert">{{ error.statusText }}</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>