<div class="card">
  <div class="crop-image">
    <a *ngIf="item.surname" [routerLink]="['/p', item.url]">
      <img class="card-img-top" src="{{item.bigImage}}" alt="User Image">
    </a>
    <a *ngIf="!item.surname" [routerLink]="['/', item.url]">
      <img class="card-img-top" src="{{item.bigImage}}" alt="User Image">
    </a>
  </div>

  <div class="card-body">
    <h6 class="card-title">{{item.name}} {{item.surname}}</h6>
    <span *ngFor="let tag of item.tags; let i=index">
      <span class="badge badge-pill badge-info" *ngIf="i<3">
        {{ tag.value || tag }}
      </span>
    </span>
    <br>
    <br>
    <a class="btn btn-secondary" *ngIf="item.surname" [routerLink]="['/p', item.url]"><i class="fa fa-eye" aria-hidden="true"></i></a>
    <a class="btn btn-secondary" *ngIf="!item.surname" [routerLink]="['/', item.url]"><i class="fa fa-eye" aria-hidden="true"></i></a>
  </div>
</div>