<h1>Services</h1>
<p>Malesuada nec gravida lobortis, congue id tellus. Proin placerat tortor dapibus nisl faucibus hendrerit. Ut luctus, dolor
et vehicula mattis, augue sem fringilla nisi, a vestibulum nisi odio ac nulla. Integer vitae aliquam nunc. Suspendisse potenti.
Aliquam nec feugiat nunc. Pellentesque vitae arcu mi. Cras elementum lorem sit amet risus condimentum, sit amet aliquam elit
viverra. Cras quis rhoncus nulla.</p>
<hr>
<h2>Create new Service</h2>
<form (ngSubmit)="submitService(myForm)" #myForm="ngForm">
  <div class="form-group">
    <label for="inputName">Name</label>
    <input type="text" class="form-control" id="inputName" value="" placeholder="Your name" name="newService.name" [(ngModel)]="newService.name" required>
  </div>

   <div class="form-group">
    <label for="inputDescription">Description</label>
    <textarea class="form-control" id="inputDescription" name="newService.description" [(ngModel)]="newService.description" required></textarea>
  </div>

  <div class="form-group">
    <label for="inputTags">Tags</label>
    <tag-input [(ngModel)]='newService.tags' name="newService.tags" required></tag-input>
  </div>

  <div class="form-group">
    <label for="inputBigImage">Image </label>
    <input type="file" ng2FileSelect [uploader]="uploader" class="form-control" id="serviceImage" value="" name="serviceImage" required>
  </div>
  

  <div *ngIf="error" class="alert alert-danger" role="alert">{{ error.statusText }}</div>

  <button type="submit" [disabled]="!myForm.form.valid" class="btn btn-secondary">Submit</button>
</form>
   {{feedback}}

<hr>
<h2>Services list</h2>
<div class="card" *ngFor="let service of servicesList">
  <div class="crop-img-card">
    <img class="card-img-top" [src]="url + service.bigImage" alt="{{service.name}}">
  </div>
  <div class="card-block">
    <h4 class="card-title">{{service.name}}</h4>
    
    <span class="badge badge-pill badge-info" *ngFor="let tag of service.tags">
      {{tag}}
    </span>
    <p class="card-text">{{service.description}}</p>
    <p>
      <a class="btn btn-danger pointer" (click)="removeService(service._id)">REMOVE</a>
      <a class="btn btn-secondary" [routerLink]="['/dashboard/service/', service._id]">View Details</a>
        <app-service-update [service]="service" (onSave)="serviceList(service.user)"></app-service-update>

      
    </p>
  </div>
</div>
<div class="gap-50"></div>
<div class="gap-50"></div>


