<form (ngSubmit)="submitService(myForm)" #myForm="ngForm">
  <div class="form-group">
    <label for="inputName">Name</label>
    <input type="text" class="form-control" id="inputName" value="" placeholder="Your name" name="newService.name" [(ngModel)]="newService.name" required>
  </div>

   <div class="form-group">
    <label for="inputDescription">description</label>
    <textarea class="form-control" id="inputDescription" name="newService.description" [(ngModel)]="newService.descritpion" required></textarea>
  </div>

  <div class="form-group">
    <label for="inputTags">tags</label>
    <tag-input [(ngModel)]='newService.tags' name="newService.tags" required></tag-input>
  </div>


  {{newService.tags}}
  <div class="form-group">
    <label for="inputBigImage">BigImage</label>
    <input type="file" ng2FileSelect [uploader]="uploader" class="form-control" id="serviceImage" value="" name="serviceImage" required>
  </div>
  
   {{feedback}}

  <div *ngIf="error" class="alert alert-danger" role="alert">{{ error.statusText }}</div>

  <button type="submit" [disabled]="!myForm.form.valid" class="btn btn-primary">Submit</button>
</form>


<h2>Services list</h2>

<div *ngFor="let service of servicesList">
  <img src="{{service.bigImage}}"/>
   {{service.user}}
   <h2>{{service.name}}</h2>
  <h2>{{service.description}}</h2>
  <span *ngFor="let tag of service.tags">
    {{tag}}
  </span>
  <a class="btn btn-primary" [routerLink]="['/dashboard/service/', service._id]">View Details</a>
 <hr>
</div>


