<section class="bk-home">
  <div class="crop-video">
    <video poster="./assets/images/contactfreelance-poster.jpg" id="bgvid" playsinline autoplay muted loop>
      <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
      <source src="./assets/images/contactfreelance.webm" type="video/webm">
      <source src="./assets/images/contactfreelance.mp4" type="video/mp4">
      <source src="./assets/images/contactfreelance.ogg" type="video/ogg">
    
    </video>

  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 text-center">
        <div class="gap-50"></div>
        <a title="contacT-Freelance" href="/"><img src="./assets/images/contact-freelance-logo.png"/></a>
        <div class="gap-50"></div>
        
        <div class="row">
            <div class="col-sm-8">
                <p class="c-w lead text-center">What are you looking for?</p>            
            </div>
        </div>
       
        <div class="input-group search-box">
            <input type="text" name="search" [(ngModel)]="search" class="form-control main-search-bar" placeholder="Search by name, job, tag or city">
            <span class="input-group-btn">
              <button class="btn btn-light pointer" type="button" [routerLink]="['/s/', search]">Go!</button>
            </span>
          </div>
      </div>
    </div>
    <div class="gap-50"></div>
    
    <div class="row">
      <div class="col-sm-12">
        <p class="lead c-w text-center">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc sapien.
        </p>
      </div>
      <!-- <div class="col-sm-6">
        <p class="lead c-w">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc sapien.
        </p>
        <h2 class="c-w">Freelance Signup</h2>
        <p class="lead c-w">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc sapien.
        </p>
        <p class="c-w">Malesuada nec gravida lobortis, congue id tellus. Proin placerat tortor dapibus nisl faucibus hendrerit. Ut luctus, dolor
        et vehicula mattis, augue sem fringilla nisi, a vestibulum nisi odio ac nulla. Integer vitae aliquam nunc. Suspendisse potenti.
        Aliquam nec feugiat nunc. Pellentesque vitae arcu mi. Cras elementum lorem sit amet risus condimentum, sit amet aliquam elit
        viverra. Cras quis rhoncus nulla.</p>
        <a class="btn btn-primary" [routerLink]="['/signup']">Freelance Signup <i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </div> -->
    </div>
    <div class="gap-50"></div>
  </div>
</section>
<section class="position-relative bk-w">
  <div class="container">
    <div class="gap-50"></div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3 class="big">leads
          <span>factory</span>
        </h3>
        <div class="gap-50"></div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="gap-50"></div>
        <div class="gap-50"></div>
        
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc sapien.
        </p>
        <p class="">Malesuada nec gravida lobortis, congue id tellus. Proin placerat tortor dapibus nisl faucibus hendrerit. Ut luctus, dolor
          et vehicula mattis, augue sem fringilla nisi, a vestibulum nisi odio ac nulla. Integer vitae aliquam nunc. Suspendisse
          potenti. Aliquam nec feugiat nunc. Pellentesque vitae arcu mi. Cras elementum lorem sit amet risus condimentum, sit amet
          aliquam elit viverra. Cras quis rhoncus nulla.</p>
      </div>
    </div>
    <div class="gap-50"></div>
    <div class="row">
      <div class="col-sm-12 text-center">
        
        <img src="./assets/images/arrow.png"/>
        <div class="gap-50"></div>
        <h3 class="">Popular areas</h3>
        <div class="gap-50"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="box-home-bk transition">
          <div class="box-home tourism">
          </div>
          <div class="title text-center">
            <div class="gap-50"></div>
            <div class="gap-50"></div>
            <div class="gap-50"></div>
            <h4 class="c-w">Searchtourism freelance</h4>
            <p class="c-w">Malesuada nec gravida lobortis, congue id tellus.</p>
            <a class="btn btn-primary" [routerLink]="['/s', 'tourism']">Tourism</a>
          </div>   
        </div>
      </div>
      <div class="col-sm-4">
        <div class="box-home-bk transition">
          <div class="box-home hotel">
          </div>
          <div class="title text-center">
            <div class="gap-50"></div>
            <div class="gap-50"></div>
            <div class="gap-50"></div>
            <h4 class="c-w">Hotels</h4>
            <p class="c-w">Malesuada nec gravida lobortis, congue id tellus.</p>
            <a class="btn btn-primary" [routerLink]="['/s', 'hotel']">Hotels</a>
          </div>
        </div>
      </div>
    </div>
    <div class="gap-20"></div>
    <div class="row">
      <div class="col-sm-4">
        <div class="box-home-bk transition">
          <div class="box-home artist">
          </div>
          <div class="title text-center">
            <div class="gap-50"></div>
            <div class="gap-50"></div>
            <div class="gap-50"></div>
            <h4 class="c-w">Art world</h4>
            <p class="c-w">Malesuada nec gravida lobortis, congue id tellus.</p>
            <a class="btn btn-primary" [routerLink]="['/s', 'artist']">Artist</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="box-home-bk transition">
          <div class="box-home java">
          </div>
          <div class="title text-center">
            <div class="gap-50"></div>
            <div class="gap-50"></div>
            <div class="gap-50"></div>
            <h4 class="c-w">Java freelance</h4>
            <p class="c-w">Malesuada nec gravida lobortis, congue id tellus.</p>
            <a class="btn btn-primary" [routerLink]="['/s', 'java']">Java freelance</a>
          </div>
        </div>
      </div>
    </div>
    <div class="gap-20"></div>
    <div class="row">
      <div class="col-sm-12">
        <div class="box-home-bk transition">
          <div class="box-home event">
          </div>
          <div class="title text-center">
            <div class="gap-50"></div>
            <div class="gap-50"></div>
            <div class="gap-50"></div>
            <h4 class="c-w">Events sector</h4>
            <p class="c-w">Malesuada nec gravida lobortis, congue id tellus.</p>
            <a class="btn btn-primary" [routerLink]="['/s', 'event']">Events</a>
          </div>
        </div>
      </div>
    </div>
    <div class="gap-50"></div>
    <div class="gap-50"></div>
   
  </div>
</section>


