/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'SixCaps';
  src: url('./assets/fonts/SixCaps.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/SixCaps.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/SixCaps.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/SixCaps.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/SixCaps.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/SixCaps.svg#SixCaps') format('svg'); /* Legacy iOS */
}
html {
    min-height: 100%;
    position: relative;
}
body { 
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
h1, h2, h3 {
    font-family: 'SixCaps', Fallback, sans-serif;
    letter-spacing: 0.4rem;
    font-size:2.9rem;
}
a {
    color:#022938;
    font-weight: 400;
}
a:hover {
    text-decoration: none;
    color: #ccc;
}
.pointer {
    cursor: pointer;
}
.c-w {
    color: #fff;
}
.lead {
    font-size: 1.15rem;
}
.gap-5 {
    height: 5px;
    width: 100%;
}
.gap-10 {
    height: 10px;
    width: 100%;
}
.gap-20 {
    height: 20px;
    width: 100%;
}
.gap-30 {
    height: 30px;
    width: 100%;
}
.gap-40 {
    height: 40px;
    width: 100%;
}
.gap-50 {
    height: 50px;
    width: 100%;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.2rem
}
.btn-primary:hover {
    background-color: rgba(255,255,255, 0.05);
    border: 1px solid #fff;
}
.btn-secondary {
    background-color: transparent;
    border: 1px solid #022938;
    color: #022938;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1rem
}
.btn-secondary:hover {
    background-color: #022938;
    border: 1px solid #022938;
    color: #fff;
}
.btn-secondary.disabled, .btn-secondary:disabled {
    background-color: #f1f1f1;
    border-color: #868e96;
    color: #868e96;
}
.btn-danger {
    background-color: transparent;
    border-radius: 0px;
    border-color: #a31313;
    color: #333;
}
.btn-danger:hover {
    background-color: #a31313;
    color: #fff !important;
}
.btn-info {
    background-color: #022938;
    border-radius: 0px;
    border-color: #fff;
}
.btn-info:hover {
    background-color: #04406d;
    color: #fff !important;
}
.btn-info.disabled, .btn-info:disabled {
    background-color: #022938;
    border-radius: 0px;
    border-color: #fff;
    cursor: auto;
    opacity: 0.3;
}
.form-control {
    border-radius: 0px;
    height: 42px; 
}
textarea.form-control {
    min-height: 120px;
}

.card-block {
    padding: 20px;
}
.card {
    margin-bottom: 20px;
}
.badge {
    padding: 5px 10px;
    font-size: 0.7rem;
    font-weight: 300;
    margin-right: 5px;
}
.badge-info {
    background-color: #333;
}
.badge-info a {
    color: #fff;
}
.badge-info a:hover {
  
    color: #ccc;
}
.alert {
    border-radius: 0px;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #721c24;
}
.crop-img-card {
    max-height: 200px;
    overflow: hidden;
}
.crop-img-card-section {
    max-height: 100px;
    overflow: hidden;
}
.form-section {
    

}
.form-box {
    background-color: rgba(255,255,255, 1);
    border: 1px solid #fff;
    padding: 20px;
    box-shadow: 0px 0px 4px #888888;
    background-color: #f9f9f9;
}
.form-deco {
  
}
.gradient {
    background: #02293d;
    background: -moz-linear-gradient(45deg,  #02293d 0%, #04406d 100%);
    background: -webkit-linear-gradient(45deg,  #02293d 0%,#04406d 100%);
    background: linear-gradient(45deg,  #02293d 0%,#04406d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02293d', endColorstr='#04406d',GradientType=1 );
}
.c-w {
    color: #fff;
}
.bk-g {
    background-color: #f3f3f3;
}
.big {
    font-family: 'SixCaps', Fallback, sans-serif;
    letter-spacing: 0.2rem;
    font-size:5.5rem;
    line-height: 7rem;
}
.big span {
    font-size:13.5rem;
    display: block;
    margin-left: -5px; 

}
.med {
    font-family: 'SixCaps', Fallback, sans-serif;
    letter-spacing: 0.2rem;
    font-size:2.5rem;
    line-height: 5rem;
}
.med span {
    font-size:7.5rem;
    display: block;
    margin-left: -5px; 

}
@media(max-width:991px){
    .med {
    line-height: 6rem;
    }
}
.userImage {
    border:6px solid #fff;
    box-shadow: 0px 0px 4px #888888;
}
.bigImageContent {
    position: relative;
    border: 2px solid #333;


}
.bigImage {
    background-size: cover;
    background-position: center;
    background-color: #f1f1f1;
    position: absolute;
    width: 100%;
    height:100%;
    opacity: 0.3;
}

.rounded-circle {
  width: 200px;
  height: 200px;
}
@media(max-width:991px){
    .rounded-circle {
        width: 100px;
        height: 100px;
    }
}
.modal {
    background-color: rgba(255,255,255,0.9);
    position: absolute;
}
.modal-content {
    border: 0px;
    border-radius:0px;
    padding: 40px;
}
.img-responsive {
    width: 100%;
}