/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
    position: relative;
}

.fa {
    padding-right: 25%;
  }
  
  .fbkBtn, .GoogleBtn, .linkedinBtn {
    padding-right: 5%;
  }